@model ClothesStore.Models.Product

@{
    ViewData["Title"] = "Xóa sản phầm";
}

<h1>Xóa</h1>

<h3>Bạn có thực sự muốn xóa sản phầm này hay không?</h3>
<p class="text-muted">
    Thao tác này sẽ xóa vĩnh viễn sản phầm và dữ liệu liên quan. Bạn không thể hoàn tác thao tác này.
</p>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceFormated)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mb-3">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> 
    </form>
    <a asp-action="Index">Về trang danh sách</a>

</div>
